<form class="edituser-container" [formGroup]="reactive_editform">
    <div class="edituser-workpanel">
        <span style="color: white; font-size: large; margin-left: 1%;">{{ 'AEFORM.EDITU' | translate}}</span>
        <div style="margin-right: 1%;">
            <button style="border: none; background-color: rgb(90, 90, 90);" [disabled]="!reactive_editform.valid" (click)="editform_submit()">
                <img src="assets/icons/save-edit.svg" height="25px" />
            </button>
            <button style="border: none; background-color: rgb(90, 90, 90);" (click)="editform_close()">
                <img src="assets/icons/cancel-edit.svg" height="25px"/>
            </button>
        </div>
    </div>
    <div class="editforms-container">
        <div class="editform-section">
            <div class="section-header">
                <span style="color: white; font-size: larger;">{{'AEFORM.USERINFO' | translate}}</span>
            </div>
            <div class="editform">
                    <div class="editform-row">
                        <span style="width: 50%;">{{'AEFORM.LSTFRST' | translate}}</span>
                        <div class="separate-input-block">
                            <input class="edit-inputs" type="text"  formControlName="lastName"  required>
                            <input class="edit-inputs" type="text" formControlName="firstName"  required>
                        </div>
                    </div>
                    <div class="editform-row">
                        <span style="width: 50%;">{{'AEFORM.MAIL' | translate}}</span>
                        <input class="edit-inputs" type="email"  formControlName="email"  required email>  
                    </div>
                    <div class="editform-row">
                        <span style="width: 50%;">{{'AEFORM.ROLE' | translate}}</span>
                        <!-- <input class="edit-inputs" type="text">   -->
                        <select style="width: 45%;" *ngIf="user_toedit.role =='User'" formControlName="role"  required>
                            <option>HR</option>
                            <option selected="true">User</option>
                            <option>Admin</option>
                        </select>
                        <select style="width: 45%;" *ngIf="user_toedit.role =='Admin'" formControlName="role"  required>
                            <option>HR</option>
                            <option >User</option>
                            <option selected="true">Admin</option>
                        </select>
                        <select style="width: 45%;" *ngIf="user_toedit.role =='HR'" formControlName="role"  required>
                            <option selected="true">HR</option>
                            <option >User</option>
                            <option>Admin</option>
                        </select>
                    </div>   
                    <div class="editform-row">
                        <span style="width: 50%;">{{'AEFORM.STATUS' | translate}}</span>
                        <div style="width: 45%;">
                            <div class="pretty p-switch p-fill" style="display: flex; align-items: center;" *ngIf="user_toedit.status=='Active'">
                                <span style="margin-right: 2px;"> {{'AEFORM.STATUSU' | translate}}</span>
                                
                                <input type="checkbox" checked="true" formControlName="status"  />
                                <div class="state p-success">
                                    <label> {{'AEFORM.STATUSA' | translate}}</label>
                                </div>
                            </div>
                            <div class="pretty p-switch p-fill" style="display: flex; align-items: center;" *ngIf="user_toedit.status=='Unactive'">
                                <span style="margin-right: 2px;">{{'AEFORM.STATUSU' | translate}}</span>
                                
                                <input type="checkbox" formControlName="status" checked="false"  />
                                <div class="state p-success">
                                    <label> {{'AEFORM.STATUSA' | translate}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        

        <div class="editform-section">
            <div class="section-header">
                <span style="color: white; font-size: larger;">{{'AEFORM.PASS' | translate}}</span>
            </div>
            <div class="editform">
                <div class="editform-row">
                    <span style="width: 50%;">{{'AEFORM.PASS' | translate}}</span>
                    <input class="edit-inputs" type="password"  formControlName="password"  required>
                </div>
                <div class="editform-row">
                    <span style="width: 50%;">{{'AEFORM.PASSREP' | translate}}</span>
                    <input class="edit-inputs" type="password"  formControlName="password_rep"  required >
                </div>
                <div class="editform-row" *ngIf="reactive_editform.errors?.passwordsNotEqual">
                    <span style="width: 50%; color: red;">{{'AEFORM.PASSNE' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
</form>
